@footerBackground : #283a44;
@footerFontColor :  #fff;

#footer {
  background-color: @footerBackground;


  #footerList {



    li{
      color: @footerFontColor;
      font-size: 25px;

     a {
        color: @footerFontColor;
      }
      #facebook {
        background-position: -320px -85px;
      }

      .footerIcons {
        display: block;
        width: 25px;
        height: 25px;
        background-image: url('/css/images/sprite.png');
        margin: 0 auto;
      }

      #twitter {
        background-position: -350px -85px;
      }
    }
  }
}